# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code configuration folder
.vscode/

# Ignore build artifacts
build/
dist/

# Ignore environment-specific files
.env
.env.local

package.json